:root {
  --background: #ffffff;
  --foreground: #171717;
}


:root {
  --bg-light-cream:  #FAE6B8;
  --dark-orange : #FF9933;
  --dark-blue : #000080;
  --text-color :  #43557B;
  --form-label : #F4E6CD80;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}




.pagetop {
  text-align: center;
}

.pagetop .pagetitle {
  color: var(--dark-orange);
  font-family: Playfair Display ;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.pagetop .changepage {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
  }


  
.changepage p a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  }
  
  .changepage p a:hover {
    position: relative;
    color: #000; 
    text-decoration: none;
  }
  
  .changepage p a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px; 
    background-color: var(--dark-blue); 
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .changepage p a:hover::after {
    transform: scaleX(1); 
  }
  
  .changepage p span {
    color: var(--dark-orange);
    font-weight: 500;
  }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
